body {
    padding-bottom: 30px;
}

body > div {
    margin: auto;
    width: 60%;
}

select,
button {
    font-family: "sylfaen";
}

input {
    height: 30px;
    font-weight: 600;
}

input,
textarea {
    background-color: #f0f0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px !important;
}

.first-proem .item >*,
.second-proem > p,
.second-proem .assign,
.second-proem .regions {
    justify-content: flex-end;
}

.first-proem .item {
    display: flex;
    flex-direction: column;
}

.first-proem .item >* {
    display: flex;
    font-size: 14px;
}

.second-proem > p {
    display: flex;
    margin-top: 0;
}

.second-proem .regions {
    border-color: red;
    float: right;
    margin-top: 10px;
    width: 18%;
}

.second-proem .assign {
    margin-top: -15px;
    text-align: right;
}

.dashedLine {
    width:100%;;
}

.solicitation > div {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
}

.big-font {
    font-size: 24px;
}

hr {
    border-style: dashed;
    margin-left: 0px;
    margin-top: 3%;
    width: 98%;
}

.second-big-font {
    font-size: 20px;
}

.declarer,
.location,
.general-inf {
    display: initial !important;
}

input {
    border: none;
    border-bottom: 1px solid;
    font-size: 12px;
    margin-left: 1%;
    margin-top: 20px;
    text-align: center;
    width: 96%;
}

.undertext,
.under-text {
    display: flex;
    font-size: 11px;
    justify-content: center;    
}

.passport {
    width: 100%;
}

.passport .date-item {
    width: 40%;
}

.passport .code-item {
    width: 15%;
}

.passport .item:first-child {
    width: 45%;
}

.dec,
.declarer .undertext {
    width: 96%;
}

.declarer .undertext,
.passport .item .undertext,
.location .undertext,
.date .undertext {
    float: right;
    margin-top: 5px;
}

.passport .item > input,
.passport .item .undertext {
    width: 68%;
}

.date > input {
    width: 79%;
}

.passport-code > input {
    width: 98%;
}

.location > input,
.location .undertext {
    width: 88.6%;
}

.passport .item .undertext {
    padding-right: 12%;
}

.under-text {
    margin-top: 9px;
    padding-left: 25%;
}

.date .undertext {
    width: 80%;
    padding-right: 4%;
}

.signature {
    justify-content: space-between !important;
}

.signature .item {
    margin-top: 24px;
    width: 35%;
}

.signature .item:first-child {
    margin-top: 4%;
}

.signature .item .reporter {
    border-bottom: 1px solid #000;
    float: right;
    height: 24px;
    width: 75%;
}

.signature .item .day,
.signature .item .month {
    display: none;
}

.signature .item .day {
    height: 32px;
    width: 15%;
}

.signature .item .input-day {
    height: 30px;
    width: 14%;
}

.signature .item .month ,
.signature .item .input-month {
    height: 30px;
    width: 55%;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}

.signature .item .year {
    width: 10%;
}

.form-request {
    justify-content: flex-start !important;
    margin-left: 5%;
}

.bottom-text {
    justify-content: flex-start !important;
}

.print {
    background-color: green;
    bottom: 20px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    justify-content: center;
    height: 50px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 100px;
}

.date {
    width: 20%;
}

[placeholder] {
    font-size: 12px;
}

.cover {
    border: 12px solid transparent;
    border-image: url(../images/border1.png);
    border-image-repeat:round;
    border-image-slice: 9;
    height: 285px;
    margin: auto;
    margin-top: 3%;
    padding: 1%;
    width: 820px;
}

.cover-border {
    border-style: dotted;
    border-width: 2px;
    height: 30%;
    padding: 1%;
    width: 32%;
}

.requestor {
    margin: 2%;
}

.signed {
    float: right;
    margin: 2%;
}

.requestor p,
.signed p {
    font-size: 15px;
    margin: 1%;
}

div.requestor > img,
div.signed > img {
    background-color: white;
    height: 22px;
    margin-left: 255px;
    margin-top: 81px;
    position: absolute;
    width: 33px;
}

div.dashedLine > img {
    float: right;
    height: 22px;
    margin-top: -1.8%;
    width: 33px;
}

button {
    height: 34px;
    margin-bottom: .2%;
    margin-top: 13%;
    width: 14.3%;
}

button:hover {
    background-color: #ccc;
}