body {
    padding-bottom: 30px;
    padding-top: 150px;
}

body > div {
    margin: auto;
    width: 60%;
}

select,
button {
    font-family: "sylfaen";
}

input {
    height: 30px;
    font-weight: 600;
}

input,
textarea {
    background-color: #f0f0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px !important;
}

.first-proem .item >*,
.second-proem .item,
.textarea-size,
.third-proem {
    justify-content: flex-end;
}

.first-proem .item {
    display: flex;
    flex-direction: column;
}

.first-proem .item >* {
    display: flex;
    font-size: 14px;
}

.second-proem {
    float: right;
    margin-top: 5px;
}

.second-proem .item {
    display: flex;
}

.regions {
    height: 30px;
    margin-top: 70px;
    width: 100%;
}

.regions select {
    float: right;
}

.dashedLine {
    width:100%;;
}

.solicitation > div {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
}

.big-font {
    font-size: 24px;
}

hr {
    border-style: dashed;
    margin-left: 0px;
    margin-top: 12%;
    width: 96%;
}

.second-big-font {
    font-size: 20px;
}

.declarer,
.location,
.general-inf {
    display: initial !important;
}

input {
    border: none;
    border-bottom: 1px solid;
    font-size: 12px;
    margin-left: 1%;
    margin-top: 20px;
    text-align: center;
    width: 96%;
}

.undertext {
    display: flex;
    font-size: 11px;
    margin-top: 5px;
    padding-left: 40%;
}

.passport .item {
    width: 55%;
}

.passport .item:first-child {
    width: 45%;
}

.dec {
    width: 96%;
}

.passport .item > input {
    width: 68%;
}

.passport .item .date {
    width: 86%;
}

.location > input {
    width: 87%;
}

.signature {
    justify-content: space-between !important;
}

.signature .item {
    width: 35%;
    margin-top: 3%;
    margin-right: -9%; 
}

.signature .item:first-child {
    margin-top: 24px;
}

.signature .item .reporter {
    border-bottom: 1px solid #000;
    float: right;
    height: 24px;
    width: 75%;
}

.signature .item .day {
    margin-left: 0;
    width: 12%;
    height: 30px;

}

.signature .item .month {
    margin-left: 0;
    width: 45%;
    height: 30px;
}

.signature .item .year {
    margin-left: 0;
    width: 10%;
}

.form-request {
    justify-content: flex-start !important;
    margin-left: 5%;
}

.bottom-text {
    justify-content: flex-start !important;
}

.print {
    background-color: green;
    bottom: 20px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    justify-content: center;
    height: 50px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 100px;
}

.date {
    width: 20%;
}

[placeholder] {
    font-size: 12px;
}

.cover {
    border: 12px solid transparent;
    border-image: url(../images/border1.png);
    border-image-repeat:round;
    border-image-slice: 9;
    height: 285px;
    margin: auto;
    margin-top: 10%;
    padding: 1%;
    width: 820px;
}

.cover-border {
    border-style: dashed;
    border-width: 2px;
    height: 30%;
    padding: 1%;
    width: 32%;
}

.requestor {
    margin: 2%;
}

.signed {
    float: right;
    margin: 2%;
}

.requestor p,
.signed p {
    font-size: 15px;
    margin: 1%;
}

div.requestor > img,
div.signed > img {
    background-color: white;
    height: 22px;
    margin-left: 255px;
    margin-top: 81px;
    position: absolute;
    width: 33px;
}

div.dashedLine > img {
    float: right;
    height: 22px;
    margin-top: -1.8%;
    width: 33px;
}

button {
    height: 34px;
    margin-bottom: .2%;
    margin-top: 13%;
    width: 14.3%;
}

button:hover {
    background-color: #ccc;
}

.textarea-size {
    float: right;
    margin-top: 20px;
    width: 500px;
}