/*@page {
  size: A4;
  margin: 0;
}*/

@media print {

    body, page[size="A4"] {
        margin: 0;
        box-shadow: 0;
    }

    body {
        width: 100%;
        margin: 0;
        font-size: 12px;
    }

    body > div {
        width: 100% !important;
    }

    input,
    select,
    button,
    textarea {
        font-family: "sylfaen";
        font-size: 12px;
    }

    .first-proem .item >* {
        font-size: 14px !important;
    }

    /
    .solicitation {
        width: 100%.passport .item .date  !important;
        justify-content: flex-end;
    }

    div.print {
        display: none;
    }

    .undertext {
        font-size: 11px !important;
    }

    input {
        color: black !important;
    }

    .cover {
        max-width: 820px !important;
    }

    .textarea-size {
        width: 500px;
        margin-top: 20px;
    }

    .dec {
        width: 93%;
    }

    .passport .item {
        width: 75%;

    }

    .passport .item:first-child {
        width: 35%;
    }

    .passport .item > input {
        width: 54%;
    }

    .passport .item .date {
        width: 80%;
        margin-right: 0;
    }

    .passport {
        min-width: 1000px !important;
    }

    .location > input {
        width: 81%;
    }

    input::-webkit-input-placeholder {
        color: transparent;
    }

    input:-moz-placeholder {
        color: transparent;
    }

    input::-moz-placeholder {
        color: transparent;
    }
    
    input:-ms-input-placeholder {
        color: transparent;
    }

}