@media print {

    body {
        width: 1748px;
        margin: 0;
        font-size: 30px;
    }
    body>div {
        width: 80% !important;
    }
    .ct-1 .item>* {
        font-size: 18px !important;
    }
    .content {
        width: 75% !important;
    }
    div.print {
        display: none;
    }
    .undertext {
        font-size: 22px !important;
    }
    input {
        color: black !important;
        font-family: "Courier New", Courier;
        font-size: 20px !important;
    }
    .content-e {
        max-width: 820px !important;
    }
    input::-webkit-input-placeholder { color:transparent; }
    input:-moz-placeholder { color:transparent; } /* FF 4-18 */
    input::-moz-placeholder { color:transparent; } /* FF 19+ */
    input:-ms-input-placeholder { color:transparent; } /* IE 10+ */
    
}